{% extends '::home.html.twig' %}

{% block title%}Search people near you{% endblock %}

{% block body %}

{% include 'PageBundle:Segment:navbar_top.html.twig' with {'active':'search'} %}
<div class="main container">
    Where is everyone?
</div>

{% endblock %}