{% extends '::base.html.twig' %}

{% block title %}Play with people near you{% endblock %}

{% block body %}

    {% include ':Segment:navbar_top.html.twig' %}

    <div class="main container">
        I want to play a game.
    </div>

{% endblock %}
