<ul class="nav nav-tabs">
    <li class="{{ app.request.attributes.get('_route') in ['front','profile'] ? 'active' : '' }}"><a href="{{ path('profile',{'id':subject.id}) }}" data-ajax>Profile</a></li>
    {% if own_profile or profile_info.hasPhotos(subject.profile) %}
        <li class="{{ app.request.attributes.get('_route') == 'profile_photos' ? 'active' : '' }}"><a href="{{ path('profile_photos',{'id':subject.id}) }}" data-ajax>Photos</a></li>
    {% else %}
        <li class="disabled"><a>Photos</a></li>
    {% endif %}
</ul>