{% extends ':Profile:layout.html.twig' %}

{% block title %}{{ profile.user.name }}{% endblock %}

{% block profile_page %}

    {% include '::flash_messages.html.twig' %}

    {% include ':Profile:tabs.html.twig' %}

    <p>
        {{ profile_info.getSearchInfo(profile) }}
    </p>

    <hr>

    {% for action in timeline %}
        {{ timeline_render(action, ':Timeline:profile_picture_add.html.twig') }}

    {% endfor %}
{% endblock %}