.settings/
.buildpath
.idea/
cgi-bin/
certs/

webroot/bundles/
webroot/uploads/
webroot/bootstrap/
webroot/css-compiled/
webroot/js-compiled/
webroot/php_errors.log

app/cache/
app/logs/
app/config/parameters.yml
app/Resources/geoip/GeoLiteCity.dat

build/
vendor/

src/Briareos/

app/bootstrap.php.cache
app/config/parameters.yml
composer.phar
