.idea/
certs/

web/bundles/
web/uploads/
web/media/
web/bootstrap/
web/css-compiled/
web/js-compiled/
web/php_errors.log

vendor/

app/cache/
app/logs/
app/bootstrap.php.cache
app/config/parameters.yml


