{% extends 'UserBundle:Facebook:connect_base.html.twig' %}

{% block body %}
    <div class="container">
        Connection canceled!

        <a href="{{ path('facebook_connect') }}" class="btn btn-large btn-primary">Try again</a> <a class="btn btn-large">Cancel</a>
    </div>
{% endblock %}