{% extends '::base.html.twig' %}

{% block body %}

{% include ':Segment:navbar_top.html.twig' %}

<div class="main container">
    <div data-pjax-container="info_page">
        {{ block('info_page') }}
    </div>

</div>

{% endblock %}