<div class="timeline-action">
    <p>
        <i class="icon-camera"></i> {{ timeline_component_render(timeline, 'subject') }} added a picture
    </p>
    <div>
        {{ timeline_component_render(timeline, 'picture') }}
    </div>
</div>