<div class="timeline-action">
    <p>
        <span class="glyphicon glyphicon-camera"></span> {{ timeline_component_render(timeline, 'subject') }} added a picture
    </p>
    <div>
        {{ timeline_component_render(timeline, 'picture') }}
    </div>
</div>