<!DOCTYPE html>
<html>
<head>
    {# Required on all pages #}
    <meta charset="UTF-8">
    <title>{{ 'page.front.title'|trans }}</title>

    {# jQuery #}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {{ block('javascripts') }}

    {# Twitter bootstrap #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//symfony.servehttp.com:1337/bootstrap/less/bootstrap.less">
    <link rel="stylesheet" href="//symfony.servehttp.com:1337/bootstrap/less/responsive.less">
    {{ block('stylesheets') }}

    {# Page style #}
    <link rel="stylesheet" href="//symfony.servehttp.com:1337/less/front-page.less">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
