{% macro chat() %}
{% spaceless %}
{# data-chat=window/placeholder #}
<div class="briareos-chat">
    <div class="level-1">

    </div>
</div>
{% endspaceless %}
{% endmacro %}

{% macro message() %}
{% spaceless %}
<div class="chat-message" data-chat="message" data-uid="${uid}" data-cmid="${cmid}">${body}</div>
{% endspaceless %}
{% endmacro %}

{% macro messages() %}
{% spaceless %}
<div class="messages-container clearfix">
    <a class="profile-link" href="${url}">
        <img class="profile-picture" src="${picture}" alt="" title="" />
    </a>
    <div class="chat-messages">
        <div class="message-info">
            <span class="timestamp">${time}</span>
        </div>
        <div data-chat="messages" data-uid="${uid}"></div>
    </div>
</div>
{% endspaceless %}
{% endmacro %}

{% macro status() %}
{% spaceless %}
<div class="chat-status" data-chat="window" data-uid="status">
    <a class="window-toggle" data-chat="toggle" data-uid="status">
        <div class="name-wrapper-outer">
            <div class="name-wrapper-inner clearfix">
                <img class="icon" src="https://s-static.ak.facebook.com/rsrc.php/v1/y4/r/-PAXP-deijE.gif" alt="" width="1" height="1" />
                <div class="name-wrapper">
                    <span class="chat-label">Chat <span class="count">(<strong class="count-number">${count}</strong>)</span></span>
                </div>
            </div>
        </div>
    </a>
    <div class="panel" data-chat="panel" data-uid="status">
        <div class="title-wrapper clearfix" data-chat="minimize" data-uid="status">
            <div class="title" data-chat="minimize" data-uid="status">Chat</div>
        </div>
        <div class="body">
            <div class="chat-users">
                <div class="chat-empty"></div>${users}</div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endmacro %}

{% macro user() %}
{% spaceless %}
<a class="user chat-user clearfix" title="${name}" data-chat="user" data-uid="${uid}" data-name="${name}" data-picture="${picture}">
    <img src="${picture}" />
    <span>${name}</span>
</a>
{% endspaceless %}
{% endmacro %}

{% macro window() %}
{% spaceless %}
<div class="window" data-chat="window" data-uid="${uid}">
    <a class="window-toggle" data-chat="toggle" data-uid="${uid}">
        <div class="name-wrapper-outer">
            <div class="name-wrapper-inner clearfix">
                <div class="name-wrapper">
                    <div class="name-wrapper-wrapper">
                        <div class="name-wrapper-name">${name}</div>
                    </div>
                </div>
                <div class="close-container">
                    <label class="close" data-chat="close" data-uid="${uid}" for="chat-uid-${uid}">
                        <input title="Close" type="button" />
                    </label>
                </div>
            </div>
        </div>
    </a>
    <div class="panel" data-chat="panel" data-uid="${uid}">
        <div class="title-wrapper" data-chat="minimize" data-uid="${uid}">
            <div class="title-wrapper-outer">
                <div class="title-wrapper-inner" data-chat="minimize" data-uid="${uid}">
                    <a class="title-text" href="${uri}">${name}</a>
                </div>
            </div>
        </div>
        <div class="body" data-chat="focus" data-uid="${uid}">
            <div class="conversation-container">
                <div class="conversation" data-chat="conversation" data-uid="${uid}"></div>
            </div>
        </div>
        <div class="message-input">
            <textarea class="message-text" data-chat="input" data-uid="${uid}" data-name="${name}" data-picture="${picture}"></textarea>
            <span></span>
        </div>
    </div>
</div>
{% endspaceless %}
{% endmacro %}
