{% extends '::base.html.twig' %}

{% block page %}
<div id="wrapper">
    <div id="header">

    </div>
    <div id="body">
        {% block body %}{% endblock %}
    </div>
    <div id="footer">

    </div>
</div>
{% endblock %}