{% extends '::base.html.twig' %}

{% block javascript_header %}
{{ parent() }}
{% include 'NodejsBundle::nodejs.html.twig' %}
{% include 'NodejsBundle:Chat:chat.html.twig' %}
{% endblock %}

{% block body %}
<div id="main-page">
    <div class="container">
        <div class="header clearfix">
            {% spaceless %}
            <ul class="profile">
                <li><a href="">{% trans %}Settings{% endtrans %}</a></li>
                <li><a href="{{ path('logout', {_csrf_token:csrf_token('logout')}) }}">{% trans %}Log Out{% endtrans %}</a></li>
            </ul>
            {% endspaceless %}
        </div>
    {{ block('content') }}
    </div>
</div>
{% endblock %}