{% extends '::base.html.twig' %}

{% block javascript_header %}
{{ parent() }}
{% include 'BriareosNodejsBundle:Nodejs:nodejs.html.twig' %}
{% include 'BriareosChatBundle:Chat:chat.html.twig' %}
{% endblock %}

{% block body %}
<div id="main-page">
    <div class="container">
        <div class="header clearfix">
            {% spaceless %}
            <ul class="profile">
                <li><a href="">{% trans %}Settings{% endtrans %}</a></li>
                <li><a href="{{ logout_url('main') }}">{% trans %}Log Out{% endtrans %}</a></li>
            </ul>
            {% endspaceless %}
        </div>
    {{ block('content') }}
    </div>
</div>
{% endblock %}