{% extends 'UserBundle:Account:page.html.twig' %}

{% block edit_account %}
<div class="row">
    <div class="span3">
        {% include 'UserBundle:Account:sidebar.html.twig' with {'active':'account_edit_name'} %}
    </div>
    <div class="span9">

        {% include 'PageBundle::flash_messages.html.twig' with {'messages':app.session.flashbag.all()} %}

        <fieldset>
            <legend>Change your name</legend>
            {% include 'UserBundle:Form:edit_user_name_form.html.twig' with {'form':form} %}
        </fieldset>
    </div>
</div>
{% endblock %}