{% extends '::base.html.twig' %}

{% block title %}Edit profile - {{ user.name }}{% endblock %}

{% block body %}

{% include 'PageBundle:Segment:navbar_top.html.twig' with {'active':'edit_profile'} %}
{% include '::chat.html.twig' with {'nodejs_auth_token':nodejs_auth_token} %}

<div id="edit-account" class="main container">
    <div class="page-header">
        <h1>Settings</h1>
    </div>

    {{ block('content') }}

</div>

{% endblock %}
