{% extends ':Account:layout.html.twig' %}

{% block edit_account %}
    <div class="row">
        <div class="span3">
            {% include ':Account:sidebar.html.twig' with {'active':'account_edit_picture'} %}
        </div>
        <div class="span9">

            {% include '::flash_messages.html.twig' with {'messages':app.session.flashbag.all()} %}

            <fieldset>
                <legend>Your picture! <small>Isn't here =(</small></legend>
                {% include ':Form:user_picture.html.twig' with {'form':form} %}
            </fieldset>
        </div>
    </div>
{% endblock %}