{% extends ':Account:overview.html.twig' %}

{% block account_edit_name %}

    {% include '::flash_messages.html.twig' %}

    <div class="well">
        <fieldset>
            <legend>Change your name</legend>
            {% include ':Form:user_name.html.twig' %}
        </fieldset>
    </div>

{% endblock %}