{% extends ':Account:overview.html.twig' %}

{% block account_edit_password %}

    {% include '::flash_messages.html.twig' %}

    <div class="well">
        <fieldset>
            <legend>{% if profile.user.password is null %}Set your password{% else %}Change your password{% endif %}</legend>
            {% include ':Form:user_password.html.twig' %}
        </fieldset>
    </div>

{% endblock %}