{% extends ':Account:layout.html.twig' %}

{% block edit_account %}
<div class="row">
    <div class="span3">
        {% include ':Account:sidebar.html.twig' with {'active':'account_edit_password'} %}
    </div>
    <div class="span9">

        {% include '::flash_messages.html.twig' with {'messages':app.session.flashbag.all()} %}

        <fieldset>
            <legend>{% if user.password is null %}Set your password{% else %}Change your password{% endif %}</legend>
            {% include ':Form:user_password.html.twig' with {'form':form} %}
        </fieldset>
    </div>
</div>
{% endblock %}