{% extends ':Account:overview.html.twig' %}

{% block account_edit_locale %}

    {% include '::flash_messages.html.twig' %}

    <div class="well">
        <fieldset>
            <legend>Change your locale</legend>
            {% include ':Form:user_locale.html.twig' %}
        </fieldset>
    </div>

{% endblock %}