{% extends ':Account:layout.html.twig' %}

{% block edit_account %}
<div class="row">
    <div class="span3">
        {% include ':Account:sidebar.html.twig' %}
    </div>
    <div class="span9">

        {% include '::flash_messages.html.twig' %}

        <fieldset>
            <legend>Change your name</legend>
            {% include ':Form:user_name.html.twig' %}
        </fieldset>
    </div>
</div>
{% endblock %}