{% extends '::base.html.twig' %}

{% block body %}

{% include ':Segment:navbar_top.html.twig' %}

<div class="container main">
    {% include '::flash_messages.html.twig' %}

    <h1>Add some details</h1>

    <p>Add these last important details to allow the best people to meet up with you on {{ site_name }}:</p>

    {% include ':Form:fill_profile.html.twig' %}
</div>
{% endblock %}