{% extends '::base.html.twig' %}

{% block title %}Edit profile - {{ user.name }}{% endblock %}

{% block body %}

{% include ':Segment:navbar_top.html.twig' %}

<div id="edit-account" class="main container">
    <div class="page-header">
        <h1>Account settings</h1>
    </div>

    <div data-pjax-container="edit_account">
        {{ block('edit_account') }}
    </div>

</div>

{% endblock %}
