{% extends 'UserBundle:Profile:page.html.twig' %}

{% block profile_page %}
    {% include 'UserBundle:Profile:tabs.html.twig' %}
    <p>
        {{ profile_info.getSearchInfo(subject.profile) }}
    </p>
{% endblock %}