{% extends '::base.html.twig' %}

{% block title %}{{ 'page.front.title'|trans }}{% endblock %}

{% block body %}
    {% include ':Segment:navbar_top.html.twig' %}

    <div class="main container">
        {% include ':Form:user_register.html.twig' %}
    </div>
{% endblock %}