<h1>Help</h1>
<ul class="nav nav-tabs nav-stacked nav-chevron">
    <li class="{{ active == 'info_faq' ? 'active' : '' }}"><a href="{{ path('info_faq') }}" data-ajax><i class="icon-chevron-right pull-right"></i>Frequently asked questions</a></li>
    <li class="{{ active == 'info_general' ? 'active' : '' }}"><a href="{{ path('account_edit_name') }}" data-ajax><i class="icon-chevron-right pull-right"></i>Change name</a></li>
</ul>