{% extends '::home.html.twig' %}

{% block title %}{{ user.name }} | Home{% endblock %}


{% block body %}

{% include 'PageBundle:Segment:navbar_top.html.twig' with {'active':'home'} %}

<div class="main container">
    <a href="{{ path('upload_picture') }}" data-ajax="">Set your photo!</a>

    <div class="row">
        <div id="c1" class="span6" style="position: relative; height: 500px">

        </div>
        <div id="c2" class="span6" style="position: relative; height: 500px">

        </div>
    </div>
</div>
{% endblock body %}