{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include ':Segment:navbar_top.html.twig' %}

    <div class="main container">
        <div class="row">
            <div class="span12 picture-wall">
                {% for picture in pictures %}
                    <div class="picture-brick" id="picture-{{ picture.id }}" style="padding: 5px; background: black;">
                        <a data-ajax data-modal data-loader="#picture-{{ picture.id }}" data-loader-type="overlay" href="{{ path('picture',{'id':picture.id}) }}">
                            {{ picture(picture, 'wall', {}, {'scale_width':200}) }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
