{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include ':Segment:navbar_top.html.twig' %}

    <div class="main container">
        <div class="row">
            <div class="span12 picture-wall">
                {% for picture in pictures %}
                    <div class="picture-brick">
                        {{ picture(picture, 'wall', {}, {'auto_dimensions':true}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}