{% extends '::base.html.twig' %}

{% block title %}Sign in to Kurumi{% endblock %}

{% block body %}
<div class="container">

    {% if error %}
    <div class="alert alert-error">{{ error.message }}</div>
    {% endif %}

    {% include 'UserBundle:Login:login_form.html.twig' %}

</div>
{% endblock %}