{% extends '::login.html.twig' %}

{% block title %}Sign in to Kurumi{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

{% include 'UserBundle:Login:login_form.html.twig' %}

{% endblock %}