{% extends '::login.html.twig' %}

{% block body %}
<form action="{{ path('register') }}" method="post">
{{ form_widget(form) }}
    <input type="submit" value="{{ 'Register' }}" />
</form>
{% endblock %}